<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8ZRE2X4NSL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gTag() {
          window.dataLayer.push(arguments);
      }
      gTag('js', new Date());
      gTag('config', 'G-8ZRE2X4NSL');
    </script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">Pi driveUp</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
